<div class="container-md p-2">
    <div class="parent py-4">

        <strong>Marca:</strong>
        <div>{{fipeValue.Marca}}</div>

        <strong>Valor do veículo:</strong>
        <div>R$ {{controller.value | real}}</div>


        <strong>Modelo:</strong>
        <div>{{fipeValue.Modelo}}</div>

        <strong>Valor pela FIPE:</strong>
        <div>{{fipeValue.Valor}}</div>

        <strong>Ano do modelo:</strong>
        <div>{{fipeValue.AnoModelo}}</div>

        <strong>Código FIPE:</strong>
        <div>{{fipeValue.CodigoFipe}}</div>

        <strong>Mês referência:</strong>
        <div>{{fipeValue.MesReferencia | MonthRef}}</div>

        <div class="div1">
            <p class="font-weight-bold h6 text-center m-0" [ngClass]="['text-'+color]">{{msg}}</p>
            <p class="display-1 font-weight-bold text-center m-0 result" [ngClass]="['text-'+color]">
                {{controller.currentState().result | number: '1.1-2'}}%</p>
            </div>
        </div>
        <div class="alert text-center m-0" [ngClass]="['alert-'+color]" role="alert">
            <h5 class="alert-heading m-0">{{alert}}</h5>
        </div>